.aboutSection {
  background: #eeeeee;
}
.heading {
  color: #ff6347;
  font-family: 'Yellowtail', cursive;
  padding: 20px;
  font-size: 4rem;
  text-align: center;
}
.aboutText {
  background-color: black;
  color: white;
  width: 300px;
  padding: 30px;
  margin: 40px 0px;
}
