.navSection {
  align-items: center;
  padding: 20px 0px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.navSection > span {
  cursor: pointer;
}

.name {
  font-family: 'Yellowtail', cursive;
  color: #fe6347;
  font-size: 3rem;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  padding: 10px;
}

a:hover {
  background: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .name {
    display: none;
  }
}
