@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

.heroSection {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: black;
}

.mainSection {
  overflow: hidden;
  margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
  .heroImg {
    display: none;
  }
  .mainSection {
  }
}
