.navSection {
  align-items: center;
  padding: 20px 0px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.navSection > span {
  cursor: pointer;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  padding: 10px;
}

a:hover {
  background: white;
  color: black;
}
